@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html, body, div#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.text-content {
    max-width: 400px;
    margin: auto auto;
}

.grid-wrapper{
    padding: 50px 0;
    max-width: 800px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 10px;
}

.col-label {
    grid-column: 1 / 2;
}